body {border:none;}
a {
	text-decoration:none;
}
.message-container {
	.brand-logo {
		padding-top:15px;
		padding-right:0;
		padding-bottom:10px;
		padding-left:0;
		td {
			padding-top:17px;
			padding-right:0;
			padding-bottom:10px;
			padding-left:0;
		}
	}
	.brand-message-type {
		td{
			padding-top:50px;
			padding-right:0;
			padding-bottom:10px;
			padding-left:0;
			vertical-align:bottom;
		}
	}
	.message-layout {
		&.mobile {
			display:none;
		}
		.title-page {
			padding-top:16px;
			padding-right:0;
			padding-bottom:2px;
			padding-left:0;
			h1 {
				line-height:38px;
				text-align:left;
			}
		}
		.sub-title-page {
			padding-top:0;
			padding-right:0;
			padding-bottom:24px;
			padding-left:0;
		}
	}
	.message-banner {
		h1 {
			font-family: sans-serif;
			color:#ffffff;
			margin-top:0;
			margin-right:0;
			margin-bottom:0;
			margin-left:0;
			font-size:38px;
		}
		h2 {
			color:#ffffff;
			margin-top:0;
			margin-right:0;
			margin-bottom:0;
			margin-left:0;
			font-size:20px;
		}
	}
	.message-banner-border {
		td{
			display: block;
			height: 10px;
		}
	}
	tbody {
		.message-body-content {
			.advertisement-body {
				border: 1px solid #ACA198;
				background: #f1f1f2;						
			}	
			.advertisement-title{
				font-size: 8px;
				background: #aca198;
				font-family: sans-serif;
				color: #ffffff;
				margin-top:0;
				margin-right:0;
				margin-bottom:0;
				margin-left:0;
				text-transform: uppercase;
				padding-top:0;
				padding-right:0;
				padding-bottom:0;
				padding-left:12px;
			}
			.advertisement-img {
				p {
					font-size:8px;
					background:#aca198;
					font-family: sans-serif; 
					color:#ffffff; 
					text-transform:uppercase;
					padding-top:0;
					padding-right:0;
					padding-bottom:0;
					padding-left:12px;
				}
				img {
					width:100%;
				}
			}
			td {
				h1 {
					font-size: 30px;
					color: #776F67;
					font-family: Arial;
					margin-top:0;
					margin-right:0;
					margin-bottom:0;
					margin-left:0;
				}
				td{
					vertical-align: top;
					.button {
						color:#ffffff;
						display:block;
					}
				}
			}
			.color-block {
				td {					
					.border-block {
						.commentary-block {
							img {
								float: left;
							}
						}
					}
				}
			}
		}
	}
}
.learn-more-table tr td{
  padding-top:6px;
	padding-right:31px;
	padding-bottom:6px;
	padding-left:31px;
  color: #ffffff;
  display: block;
}
.learn-more-table tr td a{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  text-decoration:none;
  color: #ffffff;
  font-family: sans-serif;
}
h2.title-message-green-block {
  font-family: sans-serif;
  margin-top:0;
  margin-right:0;
  margin-bottom:11px;
  margin-left:0;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #6ab480;
}
h2.title-message-blue-block {
  font-family: sans-serif;
  margin-top:0;
  margin-right:0;
  margin-bottom:11px;
  margin-left:0;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #1E7998;
}
h2.title-message-red-block {
  font-family: sans-serif;
  margin-top:0;
  margin-right:0;
  margin-bottom:11px;
  margin-left:0;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #1E7998;
}
h2.title-message-purple-block {
  font-family: sans-serif;
  margin-top:0;
  margin-right:0;
  margin-bottom:11px;
  margin-left:0;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #a26369;
}
h2.title-message-yellow-block {
  font-family: sans-serif;
  margin-top:0;
  margin-right:0;
  margin-bottom:11px;
  margin-left:0;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #F2B723;
}
h3.title-border-block {
	text-transform: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	color: #dc6651;
	line-height: px;
	margin-top:0;
  margin-right:0;
  margin-bottom:4px;
  margin-left:0;
}
span.text-under-title {
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #777067;
  display: block;
  padding-top:0;
	padding-right:0;
	padding-bottom:12px;
	padding-left:0;
}
.message-body-td {
	padding-top:20px;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
.message-body-content-td {
	border: 2px solid #E6E7E8;
}
.message-content-block-td {
	padding-top:0;
	padding-right:0;
	padding-bottom:20px;
	padding-left:0;
}
.message-content-block-img {
	padding-top:19px;
	padding-right:19px;
	padding-bottom:19px;
	padding-left:19px;
}
.learn-more-table {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.block-wrap {
	padding-top:0;
	padding-right:20px;
	padding-bottom:21px;
	padding-left:20px;
}
.block-wrap-comm {
	padding-top:0;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:11px;
}
.edit-block-el {
	padding-top:15px;
	padding-right:19px;
	padding-bottom:19px;
	padding-left:0;
	h3 {
		font-size:22px;
		font-family: sans-serif;
		margin-top:0;
		margin-right:0;
		margin-bottom:0;
		margin-left:0;
	}
	p {
		font-family: sans-serif;
		font-size: 14px;
		line-height: 1.2;
		padding-bottom: 14px;
		text-align: left;
	}
}
.deily-block-wrapp {
	padding-top:20px;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
.footer-brand-content-td {
	padding-top:20px;
	padding-right:0;
	padding-bottom:20px;
	padding-left:0;
}
.commentary-by-table {
	span {
		font-family: Arial;
		font-size: 11px;
		color: #A7A9AC;
		display: block;
		margin-top:0;
		margin-right:0;
		margin-bottom:1px;
		margin-left:0;
		font-style: italic;
		line-height: 10px;
	}
	p {
		font-family: Arial;
		font-size: 11px;
		color: #777067;
		margin-top:0;
		margin-right:0;
		margin-bottom:0;
		margin-left:0;
		padding-top:0;
		padding-right:0;
		padding-bottom:0;
		padding-left:0;
	}
}
.wrapp-title {
	padding-top:0px;
	padding-right:20px;
	padding-bottom:17px;
	padding-left:20px;padding-top:0px;
	padding-right:20px;
	padding-bottom:17px;
	padding-left:20px;
}
.legal-address small {
	color:#ffffff;
}
.product-contact-link-list .divider {
	color:#ffffff;
}
.message-recip-actions .divider {
	color: #776F67;
}
.product-contact-link-list {
	padding-top:5px;
	padding-right:0;
	padding-bottom:5px;
	padding-left:0;
}
.message-type,
.message-user-pref a,
.message-footer-brand a,
small,
.message-container .message-banner h2 {
	font-family: sans-serif;
}
.border-header {
	height:13px;
}
@media (max-width: 600px) {
	.message-container .message-layout .title-page h1 {font-size:28px;}
	.message-container .message-banner h2 {font-size:18px;}
	.brand-logo {width:100%;text-align:center;}
	.editorial-board-block {width:100%;}	
	.learn-more-table {border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-top-left-radius:5px; border-top-right-radius:5px;text-align: center;width: 100%;}
	.brand-message-type {width:100%;text-align:center;}
	.editorial-board-img {width:100%;text-align:center;}
	.editorial-board-img td{text-align:center;}
	.editorial-board-block .hero-title {text-align:center;}
	.edit-block-el {padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;}
	.message-header .message-layout {text-align:center;}	
	.message-type,
	.brand-message-type	{text-align: center;}
	.mobile .module-hero {text-align: center;}
	.brand-message-type td {text-align:center; padding-top:0px !important;}
	.footer-logo {width:100%;}
	.product-contact {text-align:center;}
	.product-contact table{width:100%}
	.product-contact table td{text-align:center;}
	.message-footer-brand .product-contact-link-list{text-align:center;}
	.social-button {width:100%;}
	.social-button table{width:200px;}
	.add-banner img {width:100%;}
}