
body {border:none; font-family: sans-serif; }
.message-container {
	.brand-logo {
		padding: 15px 0 10px;
		td {
			padding:17px 0 10px ;
		}
	}
	.brand-message-type {
		td{
			padding:15px 0 10px ;
			vertical-align:bottom;
			height:79px;
		}
	}
	.message-layout {
		&.mobile {
			display:none;
		}
		.title-page {
			padding: 16px 0 2px;
			h1 {
				line-height:38px;
				text-align:left;
			}
		}
		.sub-title-page {
			padding: 0 0 24px ;
		}
	}
	.message-banner {
		h1 {
			font-family: sans-serif;
			color:#ffffff;
			margin:0 ;
			font-size:38px;
		}
		h2 {
			color:#ffffff;
			margin:0 ;
			font-size:20px;
		}
	}
	.message-banner-border {
		td{
			display: block;
			height: 10px;
		}
	}
	tbody {
		.message-body-content {
			td {
				font-family: sans-serif; 
				&.message-layout {
					background-color: #FFFFFF; 
					border: 1px solid #F2F3F3;
					margin-top: 7px;			
				}
			}
	
		}
	}
}
.wrapp-image td {
	padding: 0 20px 0 0;
}
.alignleft-list {
	float: left;width: 46%;
}					
.no-margin {
	margin:0;
}			
.message-body-td {
	padding:20px 0 0 ;
}
.message-body-content-td {
	border: 2px solid #E6E7E8 ;
	padding:20px ;
}																
.no-padding {
	padding:0;
	margin:0;
	font-family: sans-serif; 
	font-size:14px;
}
.three-blocks table td.no-padding {
	padding:0 0 10px;
}
.advertsement-body {
	border: 1px solid #ACA198;
	background: #f1f1f2;						
}	
.advertsement-title{
  font-size: 8px;
  background: #aca198;
  font-family: sans-serif;
  color: #fff;
  margin:0;
  text-transform: uppercase;
  padding: 0 0 0 12px;
}
.button-link {
	background: #d5644f;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	line-height: 24px;
}
.click-here-text {
	font-weight: bold;
	color: #167999;
	font-size: 20px;
	font-style: italic;
	font-family: Arial;
	text-align: right;
	margin: 0;
}					
p{
	font-family: Arial;
}
.border-wrapp {
	padding:0 0 20px;
}
.hero-title {
	text-transform: none;
	font-size: 22px;
	margin:0;
	font-family:Arial;
	font-weight: bold;
	color:#777067;
}
.learn-more-table {
    border-radius: 5px 5px 5px 5px;
}
.learn-more-table tr td {
    color: #FFFFFF;
    display: block;
    padding: 6px 31px;
}
.learn-more-table tr td a {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
	display: block;
    font-family: sans-serif;
    text-decoration: none;
}
.message-content-block-img {
    padding: 19px 0 14px 17px;
}
.edit-block-el {
    padding: 13px 30px 10px 0;
}
.advertsement-img {
	padding:0 0 40px;
}
.footer-brand-content-td {
	padding: 20px 0;
}
.button-link-wrapper {
	background: #d5644f;
	text-align:center
}
.advertsement-text {
	padding:10px;
}
.button-link-wrapper {
	background: #d5644f;
	text-align:center;
}
.button-link-mobile {
	background: #d5644f;
	text-align:center
}
.button-link-wrapper td{
	text-align:center;
	padding: 15px 0 14px;
}
.button-link-mobile td{
	text-align:center;
	padding: 15px 0 14px;
}
.three-blocks td{
	font-size:14px;
}
.legal-address small {
	color:#ffffff;
}
.product-contact-link-list .divider {
	color:#ffffff;
}
.message-recip-actions .divider {
	color: #776F67;
}
.product-contact-link-list {
	padding:5px 0;
}
.message-type,
.message-user-pref a,
.message-footer-brand a,
small,
.message-container .message-banner h2 {
	font-family: sans-serif;
}
@media (max-width: 600px) {
	.message-container .message-layout .title-page h1 {font-size:28px;}
	.message-container .message-banner h2 {font-size:18px;}
	.message-header .message-layout {text-align:center;}	
	.message-type,
	.brand-message-type	{text-align: center;clear: both;}
	.message-layout {width:98% !important;}
	.mobile .module-hero {text-align: center;}	
	.module-hero td {padding:0 8px 14px;}
	.brand-logo {width:100%;text-align:center;}
	.editorial-board-block {width:100%;}	
	.brand-message-type {width:100%;text-align:center;}
	.brand-message-type td {text-align:center;}
	.editorial-board-img {width:100%;text-align:center;}
	.color-block .module-hero td {padding:0;}
	.three-blocks table{width:100% !important; margin:0; text-align:center; clear:both;}
	.three-blocks table td{padding:0 0 40px;}
	.message-content-block {width:100%;}
	.message-content-block .button-link {width:100%;}
	.message-container tbody .message-body-content.message-layout .message-content-block .button-link{width:auto;}
	.button-link-mobile {width:100%;}
	.button-link-text {width:100%; text-align:center;}
	.button-link-text p{text-align:center !important; }
	.button-link-mobile {clear:both;}
	.module-text {width:100%; clear:both;}
	.edit-block-el {padding:0 !important;}
	.module-img {width:100%;}
	.module-img td{text-align:center;}
	.learn-more-table {width:100%;text-align:center;}
	.footer-logo {width:100%;}
	.product-contact {text-align:center;}
	.product-contact table{width:100%}
	.product-contact table td{text-align:center;}
	.message-footer-brand .product-contact-link-list{text-align:center;}
	.social-button {width:100%;}
	.social-button table{width:200px;}
}