@import "base";

body {border:none;}
.message-container {
	.brand-logo {
		padding: 15px 0 10px;
		td {
			padding:17px 0 10px ;
		}
	}
	.brand-message-type {
		td{
			padding:15px 0 10px ;
		}
	}
	.message-layout {
		&.mobile {
			display:none;
		}
		.title-page {
			padding: 33px 0 2px ;
		}
		.sub-title-page {
			padding: 0 0 24px ;
		}
	}
	.message-banner {
		h1 {
			font-family: 'Lucida Sans Unicode', sans-serif;
			color:#ffffff;
			margin:0 ;
			font-size:38px;
		}
		h2 {
			color:#ffffff;
			margin:0 ;
			font-size:20px;
		}
	}
	.message-banner-border {
		td{
			display: block;
			height: 10px;
		}
	}
	tbody {
		.message-body-content {			
			.advertsement-img {
				p {
					font-size:8px;
					background:#aca198;
					font-family:'Lucida Sans Unicode', sans-serif; 
					color:#ffffff; 
					text-transform:uppercase; 
					padding:0 0 0 12px;
				}
				img {
					width:100%;
				}
			}
			td {
				h1 {
					font-size: 30px ;
					color: #776F67 ;
					font-family: Arial;
					margin:0;
				}
				td{
					vertical-align: top;
					.button {
						padding: 6px 31px;
						color:#ffffff;
						display:block;
					}
				}
			}
			.color-block {
				td {					
					.border-block {
						margin: 0 0 0 2px;
						padding: 0 0 0 8px;
						.commentary-block {
							img {
								float: left;
							}
						}
					}
				}
				&.green-block {
					.border-block {
						border-left: 4px solid #77c68c;
					}
				}
				&.yellow-block {
					.border-block {
						border-left: 4px solid #F2B723;
					}
				}
				&.blue-block {
					.border-block {
						border-left: 4px solid #1E7998;
					}
				}
				&.red-block {
					.border-block {
						border-left: 4px solid #1E7998;
					}
				}
			}
		}
	}
}
.learn-more-table tr td{
  padding: 6px 31px;
  color: #ffffff;
  display: block;
}
.learn-more-table tr td a{
  border-radius:5px;
  text-decoration:none;
  color: #ffffff;
  font-family: 'DIN-Regular', sans-serif;
}
h2.title-message-green-block {
  font-family: 'DIN-Regular', sans-serif;
  margin: 0 0 11px;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #6ab480;
}
h2.title-message-blue-block {
  font-family: 'DIN-Regular', sans-serif;
  margin: 0 0 11px;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #1E7998;
}
h2.title-message-red-block {
  font-family: 'DIN-Regular', sans-serif;
  margin: 0 0 11px;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #1E7998;
}
h2.title-message-yellow-block {
  font-family: 'DIN-Regular', sans-serif;
  margin: 0 0 11px;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #F2B723;
}
h3.title-border-block {
	text-transform: none ;
	font-family: Arial;
	font-size: 18px ;
	font-weight: normal;
	color: #dc6751 ;
	line-height: 16px ;
	margin: 0 0 4px;
}
span.text-under-title {
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #777067;
  display: block;
  margin: 0 0 12px;
}
.message-body-td {
	padding:20px 0 0 ;
}
.message-body-content-td {
	border: 2px solid #E6E7E8 ;
	padding:20px ;
}
.message-content-block-td {
	padding:0 0 20px ;
}
.message-content-block-img {
	padding: 19px 15px 14px 17px ;
}
.learn-more-table {
	border-radius:5px;
}
.block-wrap {
	padding:0 0 21px ;
}
.block-wrap-comm {
	padding:0 5px 5px 11px ;
}
.edit-block-el {
	padding: 13px 30px 10px 0 ;
	h3 {
		font-size:22px;
		font-family: 'DIN-Regular', sans-serif;
		margin:0 ;
	}
	p {
		font-family: 'DIN-Regular', sans-serif;
		font-size: 14px;
		line-height: 1.2;
		padding-bottom: 14px;
		text-align: left;
	}
}
.deily-block-wrapp {
	padding:20px;
}
.footer-brand-content-td {
	padding:20px 0 ;
}
.commentary-by-table {
	span {
		font-family: Arial;
		font-size: 11px;
		color: #A7A9AC;
		display: block;
		margin: 0 0 1px;
		font-style: italic;
		line-height: 10px;
	}
	p {
		font-family: Arial;
		font-size: 11px ;
		color: #777067;
		margin: 0 ;
		padding: 0 ;
	}
}
.wrapp-title {
	padding:0 0 17px;
}
@media (max-width: 600px) {
	.brand-logo {width:100%;text-align:center;}
	.brand-message-type {width:100%;text-align:center;}
	.editorial-board-img {width:100%;text-align:center;}
	.editorial-board-img td{text-align:center;}
	.editorial-board-block .hero-title {text-align:center;}
	.edit-block-el {padding:0;}
	.message-header .message-layout {text-align:center;}	
	.message-type,
	.brand-message-type	{text-align: center;}
	.mobile .module-hero {text-align: center;}
}